<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
    <meta charset="UTF-8">
    <title>微博主页</title>
</head>
<body>
<h1>微博主页</h1>
<hr>
<div th:if="${loggedin} eq false">
    <td th:text="'当前身份：游客'"></td>
</div>
<div th:if="${loggedin} eq true">
    <td th:text="'当前身份：用户 '+${username}"></td>
</div>
<p>

<form action="" method="request" th:action="@{/login}">
    <button type="submit">登录</button>
</form>

<form action="" method="request" th:action="@{/logout}">
    <button type="submit">注销</button>
</form>

<form action="" method="request" th:action="@{/addPost}">
<button  type="submit">发帖</button>
</form>

</p>
<p>
    <a th:href="@{/mainPage/time}"><button>按时间排序</button></a>
    <a th:href="@{/mainPage/comments}"><button>按评论数排序</button></a>
    <a th:href="@{/mainPage/upvotes}"><button>按点赞数排序</button></a>
    <a th:href="@{/mainPage/subscribed}"><button>只看关注</button></a>
</p>
<tr th:each="contact:${weblist}">
    <td th:text="${contact.getWebid()}"></td>
    <td th:text="${contact.getUsername()}"></td>
    <td th:text="${contact.getTime()}"></td>
    <td th:text="${contact.getContent()}"></td>
    <td th:text="${contact.getCommentcount()}"></td>
    <a th:href="@{'/addGood/'+${contact.getWebid()}}"><button>赞</button></a>
    <a th:href="@{'/comment/'+${contact.getWebid()}}"><button>评论</button></a>
    <a th:href="@{'/subscribe/'+${contact.getUserid()}}"><button>关注作者</button></a>
</tr>
</body>
</html>